<form action="/payment/results">

  <label for="APR">APR</label>
  <input id="APR" type="text" placeholder="E.g. 5.42" name="user_apr">

  <label for="number_of_years">Number of years</label>
  <input id="number_of_years" type="text" placeholder="How many years to repay?" name="user_years">

  <label for="principal">Principal</label>
  <input id="principal" type="text" placeholder="How much principal?" name="user_pv">

  <button>Calculate monthly payment</button>
</form>
