<form action="/payment/results">
  <label for="apr"></label>
  <input id="apr" type="text" placeholder="E.g. 5.42" name="user_apr">

  <label for="num_of_years"></label>
  <input id="num_of_years" type="text" placeholder="How many years to repay?" name="user_years">

  <label for="principal"></label>
  <input id="principal" type="text" placeholder="How much principal?" name="user_pv">

  <button>Calculate monthly payment</button>
</form>
