<form action="/square_root/results">
  <label for="square_root">Enter a number</label>
  <input id="square_root" type="text" placeholder="What number do you want to square root?" name="user_number">
  
  <button>Calculate square root</button>
</form>
